:root {
    --red: #f44336
}

body, h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}

.linkSelector:hover {
    cursor: pointer;
    color: var(--red);
    text-decoration: underline;
}

.selectorDiv {
    padding: 10px;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.bottom {
    font-size: 11px;
    margin-left: 10px;
    float: right;
}

.table-time {
    padding: 0px;
    margin: 0px;
}

table {
    table-layout: fixed;
    cell
}

/* Lesson Design*/

.normal {
    background-color: #ff887f;
}

.cancelled {
    background-color: #a0a0a0;
    text-decoration: line-through;
    text-decoration-style: solid;
}

.test {
    background-color: #cfdb53;
}

.changed {
    background-color: #b225b0;
}

.lesson {
    display: block;
    font-size: 11px;
    padding: 0px;
    margin: 5px;
}

.lessonRight {
    float: right;
    margin-right: 20px;
    padding: 0px;
}

.lessonLeft {
    float: left;
    margin-left: 20px;
    padding: 0px;
}

.w3-table td {
    padding: 2px;
}